.footer-section {
  background: #000;
  color: #fff;
  padding: 100px 60px 40px;
}

.footer-heading {
  font-size: 80px;
  font-weight: 900;
  color: #ccff00;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 80px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  gap: 40px;
}

.footer-text,
.contact-info,
.social-links {
  flex: 1;
  min-width: 250px;
  max-width: 32%;
}

.footer-text p {
  font-size: 18px;
  line-height: 1.6;
  color: #ccc;
  font-weight: 300;
}

.contact-info h4,
.social-links h4 {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}

.address,
.call {
  margin-bottom: 20px;
}

.address p,
.call p {
  font-size: 18px;
  line-height: 1.6;
  color: #ccc;
}

.social-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  font-size: 18px;
  line-height: 1.6;
  color: #ccc;
  margin-bottom: 10px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.social-links li:hover {
  color: #ccff00;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: #ccc;
  font-size: 14px;
  flex-wrap: wrap;
  gap: 15px;
}

.privacy-policy {
  text-decoration: underline;
  cursor: pointer;
}


@media (max-width: 992px) {
  .footer-heading {
    font-size: 60px;
    margin-bottom: 60px;
  }

  .footer-content {
    justify-content: center;
    gap: 30px;
  }

  .footer-text,
  .contact-info,
  .social-links {
    max-width: 45%;
  }
}


@media (max-width: 768px) {
  .footer-section {
    padding: 60px 20px 20px;
  }

  .footer-heading {
    font-size: 45px;
    margin-bottom: 40px;
  }

  .footer-content {
    flex-direction: column;
    gap: 30px;
    padding-bottom: 40px;
  }

  .footer-text,
  .contact-info,
  .social-links {
    max-width: 100%;
  }

  .contact-info {
    display: block;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}
